body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #6380D2;
}

.header {
  text-align: center;
  background-color: #00CCAC;
  color: #fff;
  height: 70px;
  box-shadow: 0px 1px 19px 0px;
  margin-bottom: 50px;
}

.header h1 {
  display: inline-flex;
  margin-top: 13px;
}

.contenido {
  width: 100%;
  justify-content: center;
  display: flex;
}

.formulario {
  text-align: center;
  background-color: #f8ea99;
  width: 400px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 2px 2px 9px 1px;
}

.formulario h3 {
  color: #6380D2;
}

.select {
  -webkit-appearance: none;
  width: 60%;
  border: none;
  border-radius: 8px;
  height: 26px;
  margin-bottom: 30px;
  text-align-last: center;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px inset;
}


.boton {
  background-color: #00CCAC;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border-width: 0px;
  height: 25px;
  color: white;
  font-weight: bold;
  width: 40%;
  transition: 0.5s;
}

.boton:hover{
  cursor: pointer;
  background-color: #76E6D5 ;
  transition: 0.5s;
}

.listado {
  margin: 23px;
}

.contenido-tasas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tasa {
  margin: 20px;
  width: 260px;
  background-color: #fff;
  border-radius: 12px;  
  box-shadow: 1px 2px 8px;
}

.tasa-header {
  text-align: center;
  background: #00CCAC;
  height: 34px;
  position: relative;
  top: -16px;
  border-radius: 12px 12px 0px 0px;
  color: #fff;
}

.tasa-nombre {
  position: relative;
  top: 7px;
}

.tasa-cuerpo {
  text-align: center;
  height: 80px;
}

.venta-compra {
  float: left;
  width: 50%;
}

.texto {
  font-size: 12px;
  font-weight: 700;
}

.variacion {
  text-align: center;
  border-top: 1px solid;
}

